* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvectica', sans-serif;
}

body {
    background: #f5f5f5;
}

nav {
    background: #eeeeee;
    height: 100%;
}

nav p {
    color: rgb(126, 126, 126);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(95, 95, 95);
}

.fas, .far {
    margin-right: 1.3rem;
    cursor: pointer;
}

.fa-calendar {
    color: lightskyblue;
}

nav .fa-user {
    color: rgb(62, 156, 62);
}

.fa-comment {
    color: rgb(255, 191, 72);
}

.fa-envelope {
    color: rgb(255, 57, 57);
}

.justify-content-between p {
    color: rgb(109, 109, 109);
}

.col-md-10 .fas {
    color: rgb(109, 109, 109);
}

.col-md-10 .fas:hover {
    color: rgb(98, 136, 98);
}