* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #ECEFF4;
}

/* navbar and top bar section */
a {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: #B0BDC3;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: rgb(228, 228, 228);
}

i {
    fill: #767b91;
    width: 2rem;
}

ul input {
    border: none;
    padding: 0.75rem;
    background: #384951;
    color: #B0BDC3;
    margin: 0.5rem;
    border-radius: 2%;
}

ul span {
    background: #1A2225;
    color: #495B65;
    text-transform: uppercase;
    padding: 0.75rem;
    font-size: 0.65rem;
}

.nav {
    position: absolute;
    background-color: #1F282D;
}

.nav-expand {
    position: absolute;
    color: white;
    right: -4rem;
    top: 0.75rem;
    z-index: 99;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

.text-logo {
    display: flex;
    width: 100%;
    height: 40px;
    background: #367FAA;
    justify-content: center;
    align-items: center;
    color: white;
}

.top-bar {
    background: #3D8EBD;
    width: 100%;
    height: 41px;
    position: absolute;
    align-items: center;
}

.top-icons {
    display: flex;
    z-index: 100;
    margin-left: 68rem;
    margin-top: 0.67rem;
    color: rgb(240, 240, 240);
}

.top-icons i:hover {
    color: white;
    cursor: pointer;
}

.nav-list {
    display: flex;
    flex-direction: column;
}

.nav-item {
    list-style: none;
    transition: all 200ms ease-in;
    padding: 1rem 1.5rem;
    border-left: 6px solid transparent;
    cursor: pointer;
}

.user-nav {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.nav-closed .nav-item p {
    display: none;
}


/* main section with charts */

.text-top {
    display: flex;
    margin-left: 16rem;
    align-items: center;
    margin-bottom: 1rem;
}

.text-top span {
    display: flex;
    margin-top: 4rem;
}

.text-top h3 {
    margin-top: 4rem;
    font-weight: 400;
}

.text-top h4 {
    margin-top: 4rem;
    color: #94979C;
    font-weight: lighter;
    margin-left: 1rem;
    font-size: 0.9em;
}

.top-content {
    display: flex;
    margin-left: 15rem;
}

.top-content img {
    height: 80px;
    width: 270px;
    margin: 1rem 0 0 1rem;

}

.mid-content {
    display: flex;
    margin-left: 15rem;
}

.mid-content img {
    margin: 1.5rem 0 0 1rem;
    height: 390px;
    width: 1130px;
}

.bottom-content {
    display: flex;
    margin-left: 15rem;
}

.bottom-img {
    margin: 1.5rem 0 0 1rem;
    width: 675px;
    height: 340px;
}

.bottom-right img:first-child {
    margin-top: 1.5rem;
}

.bottom-right img {
    margin-left: 1rem;
    width: 435px;
    height: 82px;
}

@media screen and (min-width: 960) {
    .top-icons {
        margin-left: 30rem;
        margin-top: 0.67rem;
    }

    .bottom-right img {
        width: 20;
        height: 70px;
    }

    .bottom-img {
        width: 67px;
        height: 34px;
    }
}